<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Lookup Customer
-->

<div class="form-container">
    <h2>Search Customers</h2>
    <p>Search customers by first name, last name, or phone number.</p>
    <form method="get" action="/customers/search">
        <fieldset>
            <label for="lookupFirstName">First Name</label>
            <select id="lookupFirstName" name="first_name" onchange="refreshNames(event)">
                <option value=""></option>
                {{#each firstNames}}
                <option value={{this.first_name}}>{{this.first_name}}</option>
                {{/each}}
            </select>
            <label for="lookupLastName">Last Name</label>
            <select id="lookupLastName" name="last_name" onchange="refreshNames(event)">
                <option value=""></option>
                {{#each lastNames}}
                <option value={{this.last_name}}>{{this.last_name}}</option>
                {{/each}}
            </select>
            <label for="lookupPrimaryPhone">Phone</label>
            <input type="tel" id="lookupPrimaryPhone" name="customer_phone_primary" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="123-456-7890">
            <input class="lookup-customer" id="lookupCustomerButton" type="submit" value="Search">
        </fieldset>
    </form>
</div>
<div class="table-container form-container">
    <h2>Browse Customers</h2>
    <input class="modal-open" data-modal="add-customer-modal" type="submit" value="Add New Customer">
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th id="customer_id" class="hidden key">Customer ID</th>
                <th id="first_name">First Name</th>
                <th id="middle_name">Middle Name</th>
                <th id="last_name">Last Name</th>
                <th id="customer_phone_primary">Phone 1</th>
                <th id="customer_phone_secondary">Phone 2</th>
                <th id="customer_email">Email</th>
                <th id="address_line_1">Address Line 1</th>
                <th id="address_line_2">Address Line 2</th>
                <th id="city">City</th>
                <th id="zip_code">Zip Code</th>
                <th id="state">State</th>
                <th id="customer_info">Info</th>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            <tr>
                <td headers="customer_id" class="hidden key">{{this.customer_id}}</td>
                <td headers="first_name">{{this.first_name}}</td>
                <td headers="middle_name">{{this.middle_name}}</td>
                <td headers="last_name">{{this.last_name}}</td>
                <td headers="customer_phone_primary">{{this.customer_phone_primary}}</td>
                <td headers="customer_phone_secondary">{{this.customer_phone_secondary}}</td>
                <td headers="customer_email">{{this.customer_email}}</td>
                <td headers="address_line_1">{{this.address_line_1}}</td>
                <td headers="address_line_2">{{this.address_line_2}}</td>
                <td headers="city">{{this.city}}</td>
                <td headers="zip_code">{{this.zip_code}}</td>
                <td headers="state">{{this.state}}</td>
                <td headers="customer_info">{{this.customer_info}}</td>
                <td><input class="deleteCustomer" type="submit" value="Delete" onclick="deleteRowAJAX(this)"></td>
                <td><input class="modal-open" data-modal="edit-customer-modal" type="submit" value="Edit" onclick="setDefaults(this)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div id="add-customer-modal" class="modal">
    <div class="modal-content form-container">
        <span class="modal-close">&times;</span>
        <h2>Add Customer</h2>
        <p>Add a new customer.</p>
        <form>
            <fieldset>
                <legend>*Starred* Fields are Required</legend>
                <label for="addCustomerId" class="hidden key">Customer ID</label>
                <input class="user-input hidden key" type="hidden" id="addCustomerId" name="customer_id">
                <label for="addFirstName">*First Name</label>
                <input class="user-input" type="text" id="addFirstName" name="first_name" required>

                <label for="addMiddleName">Middle Name</label>
                <input class="user-input" type="text" id="addMiddleName" name="middle_name">
                <label for="addLastName">*Last Name</label>
                <input class="user-input" type="text" id="addLastName" name="last_name" required>
                <label for="addPrimaryPhone">*Primary Phone</label>
                <input class="user-input" type="tel" id="addPrimaryPhone" name="customer_phone_primary" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required title="123-456-7890">
                <label for="addSecondaryPhone">Secondary Phone</label>
                <input class="user-input" type="tel" id="addSecondaryPhone" name="customer_phone_secondary" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="123-456-7890">
                <label for="addEmail">Email</label>
                <input class="user-input" type="email" id="addEmail" name="customer_email">
                <label for="addAddress1">Address Line 1</label>
                <input class="user-input" type="text" id="addAddress1" name="address_line_1">
                <label for="addAddress2">Address Line 2</label>
                <input class="user-input" type="text" id="addAddress2" name="address_line_2">
                <label for="addCity">City</label>
                <input class="user-input" type="text" id="addCity" name="city">
                <label for="addZipCode">Zip Code</label>
                <input class="user-input" type="text" pattern="[0-9]{5}" id="addZipCode" name="zip_code" title="5 digit numeric zip code">
                <label for="addState">State</label>
                <input class="user-input" type="text" pattern="[a-zA-Z]{2}" id="addState" name="state" title="2 letter state code">
                <label for="addInfo">Additional Info</label>
                <input class="user-input" type="text" id="addInfo" name="customer_info">
                <input class="addCustomer" type="submit" value="Add" onclick="addEditRowAJAX(this)">
            </fieldset>
        </form>
    </div>
</div>
<div id="edit-customer-modal" class="modal">
    <div class="modal-content form-container">
        <span class="modal-close">&times;</span>
        <h2>Edit Customer</h2>
        <p>Edit an existing customer.</p>
        <form>
            <fieldset>
                <legend>*Starred* Fields are Required</legend>
                <label for="editCustomerId" class="hidden key">Customer ID</label>
                <input class="user-input hidden key" type="hidden" id="editCustomerId" name="customer_id">
                <label for="editFirstName">*First Name</label>
                <input class="user-input" type="text" id="editFirstName" name="first_name" required>

                <label for="editMiddleName">Middle Name</label>
                <input class="user-input" type="text" id="editMiddleName" name="middle_name">
                <label for="editLastName">*Last Name</label>
                <input class="user-input" type="text" id="editLastName" name="last_name" required>
                <label for="editPrimaryPhone">*Primary Phone</label>
                <input class="user-input" type="tel" id="editPrimaryPhone" name="customer_phone_primary" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required title="123-456-7890">
                <label for="editSecondaryPhone">Secondary Phone</label>
                <input class="user-input" type="tel" id="editSecondaryPhone" name="customer_phone_secondary" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="123-456-7890">
                <label for="editEmail">Email</label>
                <input class="user-input" type="email" id="editEmail" name="customer_email">
                <label for="editAddress1">Address Line 1</label>
                <input class="user-input" type="text" id="editAddress1" name="address_line_1">
                <label for="editAddress2">Address Line 2</label>
                <input class="user-input" type="text" id="editAddress2" name="address_line_2">
                <label for="editCity">City</label>
                <input class="user-input" type="text" id="editCity" name="city">
                <label for="editZipCode">Zip Code</label>
                <input class="user-input" type="text" pattern="[0-9]{5}" id="editZipCode" name="zip_code" title="5 digit numeric zip code">
                <label for="editState">State</label>
                <input class="user-input" type="text" pattern="[a-zA-Z]{2}" id="editState" name="state" title="2 letter state code">
                <label for="editInfo">Additional Info</label>
                <input class="user-input" type="text" id="editInfo" name="customer_info">
                <input class="editCustomer" type="submit" value="Edit" onclick="addEditRowAJAX(this)">
            </fieldset>
        </form>
    </div>
</div>