<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Lookup Customer
-->

<div class="form-container">
    <h2>Search Customers</h2>
    <p>Search customers by first name, last name, or phone number.</p>
    <form id="lookupCustomerForm" method="get" action="/customers/search">
        <fieldset>
            <label for="lookupFirstName">First Name</label>
            <select id="lookupFirstName" name="first_name">
                <option value=""></option>
                {{#each firstNames}}
                <option value={{this.first_name}}>{{this.first_name}}</option>
                {{/each}}
            </select>
            <label for="lookupLastName">Last Name</label>
            <select id="lookupLastName" name="last_name">
                <option value=""></option>
                {{#each lastNames}}
                <option value={{this.last_name}}>{{this.last_name}}</option>
                {{/each}}
            </select>
            <label for="lookupPrimaryPhone">Phone</label>
            <input type="tel" id="lookupPrimaryPhone" name="customer_phone_primary" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="123-456-7890">
            <input class="lookup-customer" id="lookupCustomerButton" type="submit" value="Search">
        </fieldset>
    </form>
</div>
<div class="table-container form-container">
    <h2>Browse Customers</h2>
    <form action="/customers/search">
        <input type="submit" value="Show All">
    </form>
    <br>
    <table class="customers">
        <thead class="customers">
            <tr>
                <th id="customer_id" class="hidden key">Customer ID</th>
                <th id="first_name">First Name</th>
                <th id="middle_name">Middle Name</th>
                <th id="last_name">Last Name</th>
                <th id="customer_phone_primary">Phone 1</th>
                <th id="customer_phone_secondary">Phone 2</th>
                <th id="customer_email">Email</th>
                <th id="address_line_1">Address Line 1</th>
                <th id="address_line_2">Address Line 2</th>
                <th id="city">City</th>
                <th id="zip_code">Zip Code</th>
                <th id="state">State</th>
                <th id="customer_info">Info</th>
            </tr>
        </thead>
        <tbody class="customers">
            {{#each rows}}
            <tr class="table-row">
                <td headers="customer_id" class="hidden key">{{this.customer_id}}</td>
                <td headers="first_name">{{this.first_name}}</td>
                <td headers="middle_name">{{this.middle_name}}</td>
                <td headers="last_name">{{this.last_name}}</td>
                <td headers="customer_phone_primary">{{this.customer_phone_primary}}</td>
                <td headers="customer_phone_secondary">{{this.customer_phone_secondary}}</td>
                <td headers="customer_email">{{this.customer_email}}</td>
                <td headers="address_line_1">{{this.address_line_1}}</td>
                <td headers="address_line_2">{{this.address_line_2}}</td>
                <td headers="city">{{this.city}}</td>
                <td headers="zip_code">{{this.zip_code}}</td>
                <td headers="state">{{this.state}}</td>
                <td headers="customer_info">{{this.customer_info}}</td>
                <td><input class="deleteCustomer" type="submit" value="Delete" onclick="deleteRowAJAX(this)"></td>
                <td><input class="editCustomer" type="submit" value="Edit" onclick="setDefaults(this)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="form-container">
    <h2>Add/Edit Customers</h2>
    <p>Add a new customer or edit an existing customer.</p>
    <form id="addEditCustomerForm">
        <fieldset>
            <legend>*Starred* Fields are Required</legend>
            <label for="addEditCustomerId" class="hidden key">Customer ID</label>
            <input class="edit-field hidden key" type="hidden" id="addEditCustomerId" name="customer_id">
            <label for="addEditFirstName">*First Name</label>
            <input class="edit-field" type="text" id="addEditFirstName" name="first_name" required>

            <label for="addEditMiddleName">Middle Name</label>
            <input class="edit-field" type="text" id="addEditMiddleName" name="middle_name">
            <label for="addEditLastName">*Last Name</label>
            <input class="edit-field" type="text" id="addEditLastName" name="last_name" required>
            <label for="addEditPrimaryPhone">*Primary Phone</label>
            <input class="edit-field" type="tel" id="addEditPrimaryPhone" name="customer_phone_primary" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required title="123-456-7890">
            <label for="addEditSecondaryPhone">Secondary Phone</label>
            <input class="edit-field" type="tel" id="addEditSecondaryPhone" name="customer_phone_secondary" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="123-456-7890">
            <label for="addEditEmail">Email</label>
            <input class="edit-field" type="email" id="addEditEmail" name="customer_email">
            <label for="addEditAddress1">Address Line 1</label>
            <input class="edit-field" type="text" id="addEditAddress1" name="address_line_1">
            <label for="addEditAddress2">Address Line 2</label>
            <input class="edit-field" type="text" id="addEditAddress2" name="address_line_2">
            <label for="addEditCity">City</label>
            <input class="edit-field" type="text" id="addEditCity" name="city">
            <label for="addEditZipCode">Zip Code</label>
            <input class="edit-field" type="text" pattern="[0-9]{5}" id="addEditZipCode" name="zip_code" title="5 digit numeric zip code">
            <label for="addEditState">State</label>
            <input class="edit-field" type="text" pattern="[a-zA-Z]{2}" id="addEditState" name="state" title="2 letter state code">
            <label for="addEditInfo">Additional Info</label>
            <input class="edit-field" type="text" id="addEditInfo" name="customer_info">
            <input class="addCustomer" type="submit" value="Add" onclick="addRowAJAX(this)">
            <input class="editCustomer" type="submit" value="Edit" onclick="editRowAJAX(this)">
        </fieldset>
    </form>
</div>