<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Lookup Customer
-->

<h2>Customer Search</h2>
<p>Search customers by first name, last name, or phone number.</p>
<div class="form-container">
    <form id="lookupCustomerForm">
        <fieldset>
            <label for="lookupFirstName">First Name</label>
            <input class="lookup-customer" type="text" id="lookupFirstName" name="fName">
            <label for="lookupLastName">Last Name</label>
            <input class="lookup-customer" type="text" id="lookupLastName" name="lName">
            <label for="lookupPrimaryPhone">Primary Phone</label>
            <input class="lookup-customer" type="tel" id="lookupPrimaryPhone" name="pPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="123-456-7890">
            <input class="lookup-customer" id="lookupCustomerButton" type="submit" value="submit">
        </fieldset>
    </form>
</div>
<h2>Browse Customers</h2>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Primary Phone</th>
                <th>Secondary Phone</th>
                <th>Email</th>
                <th>Address Line 1</th>
                <th>Address Line 2</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>State</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            <tr class="table-row">
                <td class="cell-data">{{this.customer_id}}</td>
                <td class="cell-data">{{this.first_name}}</td>
                <td class="cell-data">{{this.middle_name}}</td>
                <td class="cell-data">{{this.last_name}}</td>
                <td class="cell-data">{{this.customer_phone_primary}}</td>
                <td class="cell-data">{{this.customer_phone_secondary}}</td>
                <td class="cell-data">{{this.customer_email}}</td>
                <td class="cell-data">{{this.address_line_1}}</td>
                <td class="cell-data">{{this.address_line_2}}</td>
                <td class="cell-data">{{this.city}}</td>
                <td class="cell-data">{{this.zip_code}}</td>
                <td class="cell-data">{{this.state}}</td>
                <td class="cell-data">{{this.customer_info}}</td>
                <td><input class="delete-button" type="submit" value="Delete"></td>
                <td><input class="edit-button" type="submit" value="Edit"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>