<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Add products to an existing order
-->

<div class="table-container form-container">
    <h2>Order Products</h2>
    <form action="/orders/search/products">
        <input type="submit" value="Show All">
    </form>
    <br>
    <table class="order-products">
        <thead class="order-products">
            <tr>
                <th id="order_id" class="key">Order ID</th>
                <th id="customer_id" class="key hidden">Customer ID</th>
                <th id="product_id" class="key hidden">Product ID</th>
                <th id="product_name">Product Name</th>
                <th id="product_unit_price">Unit Price</th>
                <th id="quantity">Quantity</th>
            </tr>
        </thead>
        <tbody class="order-products">
            {{#each orderProducts}}
            <tr class="table-row">
                <td headers="order_id" class="key">{{this.order_id}}</td>
                <td headers="customer_id" class="key hidden">{{this.customer_id}}</td>
                <td headers="product_id" class="key hidden">{{this.product_id}}</td>
                <td headers="product_name">{{this.product_name}}</td>
                <td headers="product_unit_price">{{this.product_unit_price}}</td>
                <td headers="quantity">{{this.quantity}}</td>
                <td><input class="deleteOrderProduct" type="submit" value="Delete" onclick="deleteRowAJAX(this)"></td>
                <td><input class="editOrderProduct" type="submit" value="Edit" onclick="setDefaults(this)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="form-container">
    <h2>Add to Existing Order</h2>
    <p>Add products to an existing order.</p>
    <form id="addToOrderForm">
        <fieldset>
            <legend>*Starred* Fields are Required</legend>
            <label for="addEditOrderProductsOrderId" class="key">Order ID</label>
            <input class="edit-field key" type="number" id="addEditOrderProductsOrderId" name="order_id">
            <label for="addEditOrderProductsCustomerID" class="hidden key">Customer ID</label>
            <input class="edit-field hidden key" type="hidden" id="addEditOrderProductsCustomerID" name="customer_id">
            <label for="addEditOrderProductsProductId" class="hidden key">Product ID</label>
            <input class="edit-field hidden key" type="hidden" id="addEditOrderProductsProductId" name="product_id">
            <label for="addEditOrderProductsProductName">*Product Name</label>
            <input class="edit-field key" type="text" id="addEditOrderProductsProductName" name="product_name" required>
            <label for="addEditOrderProductsProductUnitPrice">Product Unit Price</label>
            <input class="edit-field" type="number" id="addEditOrderProductsProductUnitPrice" name="product_unit_price" min="0.01" step="0.01" max="5000">
            <label for="addEditOrderProductsQuantity">Quantity</label>
            <input class="edit-field" type="number" id="addEditOrderProductsQuantity" name="product_unit_price" min="0.01" step="0.01" max="5000">
            <input class="addOrderProducts" type="submit" value="Add" onclick="addRowAJAX(this)">
            <input class="editOrderProducts" type="submit" value="Edit" onclick="editRowAJAX(this)">
        </fieldset>
    </form>
</div>
