<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Lookup Order
-->

<div class="form-container">
    <h2>Order Search</h2>
    <p>Search orders by customer first name, last name, or phone number.</p>
    <form id="lookupOrderForm" method="get" action="/orders/search">
        <fieldset>
            <label for="lookupFirstName">First Name</label>
            <select id="lookupFirstName" name="first_name">
                <option value=""></option>
                {{#each firstNames}}
                <option value={{this.first_name}}>{{this.first_name}}</option>
                {{/each}}
            </select>
            <label for="lookupLastName">Last Name</label>
            <select id="lookupLastName" name="last_name">
                <option value=""></option>
                {{#each lastNames}}
                <option value={{this.last_name}}>{{this.last_name}}</option>
                {{/each}}
            </select>
            <label for="lookupPrimaryPhone">Primary Phone</label>
            <input type="tel" id="lookupPrimaryPhone" name="customer_phone_primary" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="123-456-7890">
            <input class="lookup-order" id="lookupOrderButton" type="submit" value="Search">
        </fieldset>
    </form>
</div>
<div class="table-container form-container">
    <h2>Browse Orders</h2>
    <form action="/orders/lookup">
        <input type="submit" value="Show All">
    </form>
    <br>
    <table class="orders">
        <thead class="orders">
            <tr>
                <th id="order_id" class="key">Order ID</th>
                <th id="customer_id" class="hidden">Customer ID</th>
                <th id="first_name">First Name</th>
                <th id="last_name">Last Name</th>
                <th id="customer_phone_primary">Phone 1</th>
                <th id="card_type_description">Payment Type</th>
                <th id="card_last_four">Card Last Four</th>
                <th id="order_picked_up_yn">Order Picked Up</th>
                <th id="order_paid_yn">Order Paid</th>
                <th id="datetime_order_placed">Datetime Order Placed</th>
                <th id="der_total_order_price">Total Price</th>
                <th id="order_detail">Order Details</th>
            </tr>
        </thead>
        <tbody class="orders">
            {{#each orders}}
            <tr class="table-row">
                <td headers="order_id" class="key">{{this.order_id}}</td>
                <td headers="customer_id" class="hidden">{{this.customer_id}}</td>
                <td headers="first_name">{{this.first_name}}</td>
                <td headers="last_name">{{this.last_name}}</td>
                <td headers="customer_phone_primary">{{this.customer_phone_primary}}</td>
                <td headers="card_type_code">{{this.card_type_description}}</td>
                <td headers="card_last_four">{{this.card_last_four}}</td>
                <td headers="order_picked_up_yn">{{this.order_picked_up_yn}}</td>
                <td headers="order_paid_yn">{{this.order_paid_yn}}</td>
                <td headers="datetime_order_placed">{{this.datetime_order_placed}}</td>
                <td headers="der_total_order_price">{{this.der_total_order_price}}</td>
                <td headers="order_detail">{{this.order_detail}}</td>
                <td><input class="deleteOrder" type="submit" value="Delete" onclick="deleteRowAJAX(this)"></td>
                <td><input class="editOrder" type="submit" value="Edit" onclick="setDefaults(this)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="form-container">
    <h2>Add/Edit Orders</h2>
    <p>Add a new order or edit an existing order.</p>
    <form id="addEditOrderForm">
        <fieldset>
            <legend>*Starred* Fields are Required</legend>
            <label for="addEditOrderId" class="hidden key">Order ID</label>
            <input class="edit-field hidden key" type="hidden" id="addEditOrderId" name="order_id">
            <label for="addEditCustomerID" class="hidden">Customer ID</label>
            <input class="edit-field hidden" type="hidden" id="addEditCustomerID" name="customer_id">
            <label for="addEditFirstName">*First Name</label>
            <input class="edit-field" type="text" id="addEditFirstName" name="first_name" required>
            <label for="addEditLastName">*Last Name</label>
            <input class="edit-field" type="text" id="addEditLastName" name="last_name" required>
            <label for="addEditPrimaryPhone">*Primary Phone</label>
            <input class="edit-field" type="tel" id="addEditPrimaryPhone" name="customer_phone_primary" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required title="123-456-7890">
            <label for="addEditCardType">*Payment Method</label>
            <select class="edit-field description" id="addEditCardType" name="card_type_code">
                {{#each paymentMethods}}
                <option value={{this.card_type_code}}>{{this.card_type_description}}</option>
                {{/each}}
                <option class="linked-option" value="Add New Payment Type">Add New Payment Type</option>
            </select>
            <label for="addEditCardLastFour">Card Last Four Digits</label>
            <input class="edit-field" type="number" pattern="[0-9]{4}" title="e.g. 0123" id="addEditCardLastFour" name="card_last_four">
            <label for="addEditOrderPaid">*Order Picked Up?</label>
            <select class="edit-field description" id="addEditOrderPickedUp" name="order_picked_up_yn">
              <option value=0 selected>No</option>
              <option value=1>Yes</option>
            </select>
            <label for="addEditOrderPaid">*Order Paid?</label>
            <select class="edit-field description" id="addEditOrderPaid" name="order_paid_yn">
              <option value=0 selected>No</option>
              <option value=1>Yes</option>
            </select>
            <label for="addEditDatetimeOrderPlaced">Datetime Order Placed</label>
            <input class="edit-field" type="datetime-local" id="addEditDatetimeOrderPlaced" name="datetime_order_placed">
            <label for="addEditOrderDetail">Order Details</label>
            <input class="edit-field" type="text" id="addEditOrderDetail" name="order_detail">
            <input class="addOrder" type="submit" value="Add" onclick="addRowAJAX(this)">
            <input class="editOrder" type="submit" value="Edit" onclick="editRowAJAX(this)">
        </fieldset>
    </form>
</div>
