<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Lookup Order
-->

<div class="form-container">
    <h2>Order Search</h2>
    <p>Search orders by customer first name, last name, or phone number.</p>
    <form id="lookupOrderForm" method="get" action="/orders/search">
        <fieldset>
            <label for="lookupFirstName">First Name</label>
            <select id="lookupFirstName" name="first_name">
                <option value=""></option>
                {{#each firstNames}}
                <option value={{this.first_name}}>{{this.first_name}}</option>
                {{/each}}
            </select>
            <label for="lookupLastName">Last Name</label>
            <select id="lookupLastName" name="last_name">
                <option value=""></option>
                {{#each lastNames}}
                <option value={{this.last_name}}>{{this.last_name}}</option>
                {{/each}}
            </select>
            <label for="lookupPrimaryPhone">Primary Phone</label>
            <input type="tel" id="lookupPrimaryPhone" name="customer_phone_primary" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="123-456-7890">
            <input class="lookup-order" id="lookupOrderButton" type="submit" value="Search">
        </fieldset>
    </form>
</div>
<div class="table-container form-container">
    <h2>Browse Orders</h2>
    <form action="/orders/search">
        <input type="submit" value="Show All">
    </form>
    <br>
    <table class="orders">
        <thead class="orders">
            <tr>
                <th id="order_id" class="key">Order ID</th>
                <th id="customer_id" class="key hidden">Customer ID</th>
                <th id="first_name">First Name</th>
                <th id="last_name">Last Name</th>
                <th id="customer_phone_primary">Phone 1</th>
                <th id="card_type">Payment Type</th>
                <th id="card_last_four">Card Last Four</th>
                <th id="order_picked_up_yn">Order Picked Up</th>
                <th id="order_paid_yn">Order Paid</th>
                <th id="datetime_order_placed">Datetime Order Placed</th>
                <th id="der_total_order_price">Total Price</th>
                <th id="order_detail">Order Detail</th>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            <tr class="table-row">
                <td class="cell-data">{{this.order_id}}</td>
                <td class="cell-data">{{this.customer_id}}</td>
                <td class="cell-data">{{this.card_type}}</td>
                <td class="cell-data">{{this.card_last_four}}</td>
                <td class="cell-data">{{this.order_picked_up_yn}}</td>
                <td class="cell-data">{{this.order_paid_yn}}</td>
                <td class="cell-data">{{this.datetime_order_placed}}</td>
                <td class="cell-data">{{this.der_total_order_price}}</td>
                <td class="cell-data">{{this.order_detail}}</td>
                <td><input class="delete-button" type="submit" value="Delete" onclick="deleteRow(this.parent.parent)"></td>
                <td><input class="edit-button" type="submit" value="Edit" onclick="setDefaults(this.parent.parent)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="form-container">
    <h2>Add to Existing Order</h2>
    <p>Add products to an existing order.</p>
    <form id="addToOrderForm">
        <fieldset>
            <legend>*Starred* Fields are Required</legend>
            <label for="addToOrderOrderID">*Order ID</label>
            <input class="add-to-order" type="number" id="addToOrderOrderID" name="orderID" required>
            <label for="addToOrderProductID">*Product ID</label>
            <input class="add-to-order" type="number" id="addToOrderProductID" name="productID" required>
            <label for="addToOrderQuantity">*Quantity</label>
            <input class="add-to-order" type="number" id="addToOrderQuantity" name="quantity" required>
            <input class="add-to-order" id="addToOrderButton" type="submit" value="Add to Order">
        </fieldset>
    </form>
</div>
<div class="form-container">
    <h2>Create New Order</h2>
    <p>Create a new order for an existing customer.</p>
    <form id="createOrderForm">
        <fieldset>
            <legend>*Starred* Fields are Required</legend>
            <label for="createOrderCustID">*Customer ID</label>
            <input class="create-order" type="number" id="createOrderCustID" name="custID" required>
            <label for="createOrderCardType">*Payment Method</label>
            <select class="create-order" name="cardType" id="createOrderCardType">
                {{#each rows}}
                <option value={{this.card_type_code}}>{{this.card_type_description}}</option>
                {{/each}}
            </select>
            <label for="createOrderCardLastFour">Card Last Four Digits</label>
            <input class="create-order" type="number" pattern="[0-9]{4}" title="e.g. 0123" id="createOrderCardLastFour" name="cardLastFour">
            <label for="createOrderPaid">*Order Paid?</label>
            <select class="create-order" name="orderPaid" id="createOrderPaid">
              <option value=0 selected>No</option>
              <option value=1>Yes</option>
            </select>
            <input class="create-order" id="createOrderButton" type="submit" value="Create">
        </fieldset>
    </form>
</div>