<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Lookup Order
-->

<div class="form-container">
    <h2>Order Search</h2>
    <p>Search orders by order ID or customer.</p>
    <form method="get" action="/orders">
        <fieldset>
            <label for="lookupOrderId">Order ID</label>
            <select id="lookupOrderId" name="order_id">
                <option value=""></option>
                {{#each orderIds}}
                <option value={{this.order_id}}>{{this.order_id}}</option>
                {{/each}}
            </select>
            <label for="lookupCustomer">Customer</label>
            <select id="lookupCustomer" name="customer_id">
                <option value=""></option>
                {{#each customers}}
                <option value={{this.customer_id}}>{{this.customer_desc}}</option>
                {{/each}}
            </select>
            <input class="lookup-order" id="lookupOrderButton" type="submit" value="Search">
        </fieldset>
    </form>
</div>
<div class="table-container form-container">
    <h2>Browse Orders</h2>
    <input class="modal-open" data-modal="add-order-modal" type="submit" value="Create New Order">
    <br>
    <table>
        <thead>
            <tr>
                <th id="order_id" class="key">Order ID</th>
                <th id="customer_id" class="hidden">Customer ID</th>
                <th id="first_name">First Name</th>
                <th id="last_name">Last Name</th>
                <th id="customer_phone_primary">Phone 1</th>
                <th id="card_type_description">Payment Type</th>
                <th id="card_last_four">Card Last Four</th>
                <th id="order_picked_up_yn">Order Picked Up</th>
                <th id="order_paid_yn">Order Paid</th>
                <th id="datetime_order_placed">Datetime Order Placed</th>
                <th id="der_total_order_price">Total Price</th>
                <th id="order_detail">Order Details</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <td headers="order_id" class="key">{{this.order_id}}</td>
                <td headers="customer_id" class="hidden">{{this.customer_id}}</td>
                <td headers="first_name">{{this.first_name}}</td>
                <td headers="last_name">{{this.last_name}}</td>
                <td headers="customer_phone_primary">{{this.customer_phone_primary}}</td>
                <td headers="card_type_code">{{this.card_type_description}}</td>
                <td headers="card_last_four">{{this.card_last_four}}</td>
                <td headers="order_picked_up_yn">{{this.order_picked_up_yn}}</td>
                <td headers="order_paid_yn">{{this.order_paid_yn}}</td>
                <td headers="datetime_order_placed">{{this.datetime_order_placed}}</td>
                <td headers="der_total_order_price">{{this.der_total_order_price}}</td>
                <td headers="order_detail">{{this.order_detail}}</td>
                <td><input class="deleteOrder" type="submit" value="Delete" onclick="deleteRowAJAX(this)"></td>
                <td><input class="modal-open" data-modal="edit-order-modal" type="submit" value="Edit" onclick="setDefaults(this)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="table-container form-container">
    <h2>Order Details</h2>
    <input class="modal-open" data-modal="add-order-product-modal" type="submit" value="Add to Order">
    <br>
    <table>
        <thead>
            <tr>
                <th id="order_id" class="key">Order ID</th>
                <th id="product_id" class="key hidden">Product ID</th>
                <th id="product_name">Product Name</th>
                <th id="product_unit_price">Unit Price</th>
                <th id="quantity">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {{#each orderProducts}}
            <tr>
                <td headers="order_id" class="key">{{this.order_id}}</td>
                <td headers="product_id" class="key hidden">{{this.product_id}}</td>
                <td headers="product_name">{{this.product_name}}</td>
                <td headers="product_unit_price">{{this.product_unit_price}}</td>
                <td headers="quantity">{{this.quantity}}</td>
                <td><input class="deleteOrderProduct" type="submit" value="Delete" onclick="deleteRowAJAX(this)"></td>
                <td><input class="modal-open" data-modal="edit-order-product-modal" type="submit" value="Edit" onclick="setDefaults(this)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div id="add-order-modal" class="modal">
    <div class="modal-content form-container">
        <span class="modal-close">&times;</span>
        <h2>Create Order</h2>
        <p>Create a new order.</p>
        <form>
            <fieldset>
                <legend>*Starred* Fields are Required</legend>
                <label for="addOrderId" class="hidden key">Order ID</label>
                <input class="user-input hidden key" type="hidden" id="addOrderId" name="order_id">
                <label for="addCustomer">*Customer</label>
                <select class="user-input description" id="addCustomer" name="customer_id">
                    {{#each customers}}
                    <option value={{this.customer_id}}>{{this.customer_desc}}</option>
                    {{/each}}
                </select>
                <label for="addCardType">*Payment Method</label>
                <select class="user-input description" id="addCardType" name="card_type_code" onchange="addNewReferenceType(event)">
                    {{#each paymentMethods}}
                    <option value={{this.card_type_code}}>{{this.card_type_description}}</option>
                    {{/each}}
                    <option class="linked-option" value="Add New Payment Type">Add New Payment Type</option>
                </select>
                <label for="addCardLastFour">Card Last Four Digits</label>
                <input class="user-input" type="number" pattern="[0-9]{4}" title="e.g. 0123" id="addCardLastFour" name="card_last_four">
                <label for="addOrderPickedUp">*Order Picked Up?</label>
                <select class="user-input description" id="addOrderPickedUp" name="order_picked_up_yn">
                  <option value=0 selected>No</option>
                  <option value=1>Yes</option>
              </select>
              <label for="addOrderPaid">*Order Paid?</label>
              <select class="user-input description" id="addOrderPaid" name="order_paid_yn">
                  <option value=0 selected>No</option>
                  <option value=1>Yes</option>
              </select>
              <label for="addDatetimeOrderPlaced">Datetime Order Placed</label>
              <input class="user-input" type="datetime-local" id="addDatetimeOrderPlaced" name="datetime_order_placed">
              <label for="addOrderDetail">Order Details</label>
              <input class="user-input" type="text" id="addOrderDetail" name="order_detail">
              <input class="addOrder" type="submit" value="Add" onclick="addEditRowAJAX(this)">
          </fieldset>
      </form>
  </div>
</div>
<div id="edit-order-modal" class="modal">
    <div class="modal-content form-container">
        <span class="modal-close">&times;</span>
        <h2>Edit Order</h2>
        <p>Edit an existing order.</p>
        <form>
            <fieldset>
                <legend>*Starred* Fields are Required</legend>
                <label for="editOrderId" class="hidden key">Order ID</label>
                <input class="user-input hidden key" type="hidden" id="editOrderId" name="order_id">
                <label for="editCustomer">*Customer</label>
                <select class="user-input description" id="editCustomer" name="customer_id">
                    {{#each customers}}
                    <option value={{this.customer_id}}>{{this.customer_desc}}</option>
                    {{/each}}
                </select>
                <label for="editCardType">*Payment Method</label>
                <select class="user-input description" id="editCardType" name="card_type_code" onchange="addNewReferenceType(event)">
                    {{#each paymentMethods}}
                    <option value={{this.card_type_code}}>{{this.card_type_description}}</option>
                    {{/each}}
                    <option class="linked-option" value="Add New Payment Type">Add New Payment Type</option>
                </select>
                <label for="editCardLastFour">Card Last Four Digits</label>
                <input class="user-input" type="number" pattern="[0-9]{4}" title="e.g. 0123" id="editCardLastFour" name="card_last_four">
                <label for="editOrderPickedUp">*Order Picked Up?</label>
                <select class="user-input description" id="editOrderPickedUp" name="order_picked_up_yn">
                  <option value=0 selected>No</option>
                  <option value=1>Yes</option>
              </select>
              <label for="editOrderPaid">*Order Paid?</label>
              <select class="user-input description" id="editOrderPaid" name="order_paid_yn">
                  <option value=0 selected>No</option>
                  <option value=1>Yes</option>
              </select>
              <label for="editDatetimeOrderPlaced">Datetime Order Placed</label>
              <input class="user-input" type="datetime-local" id="editDatetimeOrderPlaced" name="datetime_order_placed">
              <label for="editOrderDetail">Order Details</label>
              <input class="user-input" type="text" id="editOrderDetail" name="order_detail">
              <input class="editOrder" type="submit" value="Edit" onclick="addEditRowAJAX(this)">
          </fieldset>
      </form>
  </div>
</div>
<div id="add-order-product-modal" class="modal">
    <div class="modal-content form-container">
        <span class="modal-close">&times;</span>
        <h2>Add to Order</h2>
        <p>Add a product to an existing order.</p>
        <form>
            <fieldset>
                <legend>*Starred* Fields are Required</legend>
                <label for="addOrderProductsOrderId">*Order ID</label>
                <select class="user-input description" id="addOrderProductsOrderId" name="order_id" required>
                    {{#each orderIds}}
                    <option value={{this.order_id}}>{{this.order_id}}</option>
                    {{/each}}
                </select>
                <label for="addOrderProductsProductName">*Product Name</label>
                <select class="user-input description" id="addOrderProductsProductName" name="product_id" required onchange="addNewReferenceType(event)">
                    {{#each productNames}}
                    <option value={{this.product_id}}>{{this.product_name}}</option>
                    {{/each}}
                    <option class="linked-option" value="Add New Product Type">Add New Product Type</option>
                </select>
                <label for="addOrderProductsQuantity">*Quantity</label>
                <input class="user-input" type="number" id="addOrderProductsQuantity" name="quantity" required>
                <input class="addOrderProduct" type="submit" value="Add" onclick="addEditRowAJAX(this)">
            </fieldset>
        </form>
    </div>
</div>
<div id="edit-order-product-modal" class="modal">
    <div class="modal-content form-container">
        <span class="modal-close">&times;</span>
        <h2>Edit Quantity</h2>
        <p>Edit quantity of existing order & product.</p>
        <form>
            <fieldset>
                <legend>*Starred* Fields are Required</legend>
                <label for="editOrderProductsOrderId" class="key">*Order ID</label>
                <select class="user-input description key" id="editOrderProductsOrderId" name="order_id" required disabled>
                    {{#each orderIds}}
                    <option value={{this.order_id}}>{{this.order_id}}</option>
                    {{/each}}
                </select>
                <label for="editOrderProductsProductName" class="key">*Product Name</label>
                <select class="user-input description key" id="editOrderProductsProductName" name="product_id" required disabled onchange="addNewReferenceType(event)">
                    {{#each productNames}}
                    <option value={{this.product_id}}>{{this.product_name}}</option>
                    {{/each}}
                    <option class="linked-option" value="Add New Product Type">Add New Product Type</option>
                </select>
                <label for="editOrderProductsQuantity">*Quantity</label>
                <input class="user-input" type="number" id="editOrderProductsQuantity" name="quantity" required>
                <input class="editOrderProduct" type="submit" value="Edit" onclick="addEditRowAJAX(this)">
            </fieldset>
        </form>
    </div>
</div>