<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Products page - add/edit/lookup
-->

<div class="form-container">
    <h2>Search Products</h2>
    <p>Search products by product type.</p>
    <form method="get" action="/products/search">
        <fieldset>
            <label for="lookupProductTypeCode">Product Type</label>
            <select id="lookupProductTypeCode" name="product_type_code" onchange="addNewReferenceType(event)">
                <option value=""></option>
                {{#each productTypes}}
                <option value={{this.product_type_code}}>{{this.product_type_description}}</option>
                {{/each}}
                <option class="linked-option" value="Add New Product Type">Add New Product Type</option>
            </select>
            <input class="lookup-product" id="lookupProductButton" type="submit" value="Search">
        </fieldset>
    </form>
</div>
<div class="table-container form-container">
    <h2>Browse Products</h2>
    <input class="modal-open" data-modal="add-product-modal" type="submit" value="Add New Product">
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th id="product_id" class="hidden key">Product ID</th>
                <th id="product_type_code">Product Type</th>
                <th id="product_name">Product Name</th>
                <th id="product_unit_price">Unit Price</th>
                <th id="product_unit_size">Unit Size</th>
                <th id="product_description">Product Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            <tr>
                <td headers="product_id" class="hidden key">{{this.product_id}}</td>
                <td headers="product_type_code">{{this.product_type_description}}</td>
                <td headers="product_name">{{this.product_name}}</td>
                <td headers="product_unit_price">{{this.product_unit_price}}</td>
                <td headers="product_unit_size">{{this.product_unit_size}}</td>
                <td headers="product_description">{{this.product_description}}</td>
                <td><input class="deleteProduct" type="submit" value="Delete" onclick="deleteRowAJAX(this)"></td>
                <td><input class="modal-open" data-modal="edit-product-modal" type="submit" value="Edit" onclick="setDefaults(this)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div id="add-product-modal" class="modal">
    <div class="modal-content form-container">
        <span class="modal-close">&times;</span>
        <h2>Add Product</h2>
        <p>Add a new product.</p>
        <form>
            <fieldset>
                <legend>*Starred* Fields are Required</legend>
                <label for="addProductId" class="hidden key">Product ID</label>
                <input class="user-input hidden key" type="hidden" id="addProductId" name="product_id">
                <label for="addProductName">*Product Name</label>
                <input class="user-input" type="text" id="addProductName" name="product_name" required>
                <label for="addProductTypeCode">*Product Type</label>
                <select class="user-input description" id="addProductTypeCode" name="product_type_code" onchange="addNewReferenceType(event)">
                    {{#each productTypes}}
                    <option value={{this.product_type_code}}>{{this.product_type_description}}</option>
                    {{/each}}
                    <option class="linked-option" value="Add New Product Type">Add New Product Type</option>
                </select>
                <label for="addProductUnitPrice">Product Unit Price</label>
                <input class="user-input" type="number" id="addProductUnitPrice" name="product_unit_price" min="0.01" step="0.01" max="5000">
                <label for="addProductUnitSize">Product Unit Size</label>
                <input class="user-input" type="text" id="addProductUnitSize" name="product_unit_size">
                <label for="addProductDescription">Product Description</label>
                <input class="user-input" type="text" id="addProductDescription" name="product_description">
                <input class="addProduct" type="submit" value="Add" onclick="addEditRowAJAX(this)">
            </fieldset>
        </form>
    </div>
</div>
<div id="edit-product-modal" class="modal">
    <div class="modal-content form-container">
        <span class="modal-close">&times;</span>
        <h2>Edit Product</h2>
        <p>Edit an existing product.</p>
        <form>
            <fieldset>
                <legend>*Starred* Fields are Required</legend>
                <label for="editProductId" class="hidden key">Product ID</label>
                <input class="user-input hidden key" type="hidden" id="editProductId" name="product_id">
                <label for="editProductName">*Product Name</label>
                <input class="user-input" type="text" id="editProductName" name="product_name" required>
                <label for="editProductTypeCode">*Product Type</label>
                <select class="user-input description" id="editProductTypeCode" name="product_type_code" onchange="addNewReferenceType(event)">
                    {{#each productTypes}}
                    <option value={{this.product_type_code}}>{{this.product_type_description}}</option>
                    {{/each}}
                    <option class="linked-option" value="Add New Product Type">Add New Product Type</option>
                </select>
                <label for="editProductUnitPrice">Product Unit Price</label>
                <input class="user-input" type="number" id="editProductUnitPrice" name="product_unit_price" min="0.01" step="0.01" max="5000">
                <label for="editProductUnitSize">Product Unit Size</label>
                <input class="user-input" type="text" id="editProductUnitSize" name="product_unit_size">
                <label for="editProductDescription">Product Description</label>
                <input class="user-input" type="text" id="editProductDescription" name="product_description">
                <input class="editProduct" type="submit" value="Edit" onclick="addEditRowAJAX(this)">
            </fieldset>
        </form>
    </div>
</div>