<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Products page - add/edit/lookup
-->

<div class="form-container">
    <h2>Search Products</h2>
    <p>Search products by product type.</p>
    <form id="lookupProductForm" method="get" action="/products/search">
        <fieldset>
            <label for="lookupProductTypeCode">Product Type</label>
            <select id="lookupProductTypeCode" name="product_type_code" onchange="addNewProductType(event)">
                <option value=""></option>
                {{#each productTypes}}
                <option value={{this.product_type_code}}>{{this.product_type_description}}</option>
                {{/each}}
                <option value="Add New Product Type">Add New Product Type</option>
            </select>
            <input class="lookup-product" id="lookupProductButton" type="submit" value="Search">
        </fieldset>
    </form>
</div>
<div class="table-container form-container">
    <h2>Browse Products</h2>
    <form action="/products/search">
        <input type="submit" value="Show All">
    </form>
    <br>
    <table class="products">
        <thead class="products">
            <tr>
                <th id="product_id" class="hidden key">Product ID</th>
                <th id="product_type_code">Product Type</th>
                <th id="product_name">Product Name</th>
                <th id="product_unit_price">Unit Price</th>
                <th id="product_unit_size">Unit Size</th>
                <th id="product_description">Product Description</th>
            </tr>
        </thead>
        <tbody class="products">
            {{#each rows}}
            <tr class="table-row">
                <td headers="product_id" class="hidden key">{{this.product_id}}</td>
                <td headers="product_type_code">{{this.product_type_description}}</td>
                <td headers="product_name">{{this.product_name}}</td>
                <td headers="product_unit_price">{{this.product_unit_price}}</td>
                <td headers="product_unit_size">{{this.product_unit_size}}</td>
                <td headers="product_description">{{this.product_description}}</td>
                <td><input class="deleteProduct" type="submit" value="Delete" onclick="deleteRowAJAX(this)"></td>
                <td><input class="editProduct" type="submit" value="Edit" onclick="setDefaults(this)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="form-container">
	<h2>Add/Edit Products</h2>
	<p>Add a new product or edit an existing product.</p>
	<form id="addEditProductForm">
        <fieldset>
            <legend>*Starred* Fields are Required</legend>
            <label for="addEditProductId" class="hidden key">Product ID</label>
            <input class="edit-field hidden key" type="hidden" id="addEditProductId" name="product_id">
            <label for="addEditProductName">*Product Name</label>
            <input class="edit-field" type="text" id="addEditProductName" name="product_name" required>
            <label for="addEditProductTypeCode">*Product Type</label>
            <select class="edit-field description" id="addEditProductTypeCode" name="product_type_code" onchange="addNewProductType(event)">
				{{#each productTypes}}
			  	<option value={{this.product_type_code}}>{{this.product_type_description}}</option>
			  	{{/each}}
			  	<option class="linked-option" value="Add New Product Type">Add New Product Type</option>
			</select>
            <label for="addEditProductUnitPrice">Product Unit Price</label>
            <input class="edit-field" type="number" id="addEditProductUnitPrice" name="product_unit_price" min="0.01" step="0.01" max="5000">
            <label for="addEditProductUnitSize">Product Unit Size</label>
            <input class="edit-field" type="text" id="addEditProductUnitSize" name="product_unit_size">
            <label for="addEditProductDescription">Product Description</label>
            <input class="edit-field" type="text" id="addEditProductDescription" name="product_description">
            <input class="addProduct" type="submit" value="Add" onclick="addRowAJAX(this)">
            <input class="editProduct" type="submit" value="Edit" onclick="editRowAJAX(this)">
        </fieldset>
    </form>
</div>
