<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Add Card Type
-->

<div class="table-container form-container">
    <h2>Payment Type Codes</h2>
    <p>{{message2}}</p>
    <input class="modal-open" data-modal="add-payment-type-modal" type="submit" value="Add Payment Type">
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th id="card_type_code" class="key">Payment Type Code</th>
                <th id="card_type_description">Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each cardTypes}}
            <tr>
                <td headers="card_type_code" class="key">{{this.card_type_code}}</td>
                <td headers="card_type_description">{{this.card_type_description}}</td>
                <td><input class="deletePaymentType" type="submit" value="Delete" onclick="deleteRowAJAX(this)"></td>
                <td><input class="modal-open" data-modal="edit-payment-type-modal" type="submit" value="Edit" onclick="setDefaults(this)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="table-container form-container">
    <h2>Product Type Codes</h2>
    <p>{{message}}</p>
    <input class="modal-open" data-modal="add-product-type-modal" type="submit" value="Add Product Type">
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th id="product_type_code" class="key">Product Type Code</th>
                <th id="product_type_description">Description</th>
                <th id="parent_product_type_code">Parent Product Type Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each productTypes}}
            <tr>
                <td headers="product_type_code" class="key">{{this.product_type_code}}</td>
                <td headers="product_type_description">{{this.product_type_description}}</td>
                <td headers="parent_product_type_code">{{this.parent_product_type_description}}</td>
                <td><input class="deleteProductType" type="submit" value="Delete" onclick="deleteRowAJAX(this)"></td>
                <td><input class="modal-open" data-modal="edit-product-type-modal" type="submit" value="Edit" onclick="setDefaults(this)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div id="add-payment-type-modal" class="modal">
<div class="modal-content form-container">
    <span class="modal-close">&times;</span>
    <h2>Add Payment Type Code</h2>
    <p>Add a new payment type.</p>
    <form>
        <fieldset>
            <legend>*Starred* Fields are Required</legend>
            <label for="addPaymentTypeCode" class="hidden key">Payment Type Code</label>
            <input class="user-input hidden key" type="hidden" id="addPaymentTypeCode" name="card_type_code">
            <label for="addPaymentTypeDescription">*Payment Type Description</label>
            <input class="user-input" type="text" id="addPaymentTypeDescription" name="card_type_description" required>
            <input class="addPaymentType" type="submit" value="Add" onclick="addEditRowAJAX(this)">
        </fieldset>
    </form>
</div>
</div>
<div id="edit-payment-type-modal" class="modal">
<div class="modal-content form-container">
    <span class="modal-close">&times;</span>
    <h2>Edit Payment Type Code</h2>
    <p>Edit a new payment type.</p>
    <form>
        <fieldset>
            <legend>*Starred* Fields are Required</legend>
            <label for="editPaymentTypeCode" class="hidden key">Payment Type Code</label>
            <input class="user-input hidden key" type="hidden" id="editPaymentTypeCode" name="card_type_code">
            <label for="editPaymentTypeDescription">*Payment Type Description</label>
            <input class="user-input" type="text" id="editPaymentTypeDescription" name="card_type_description" required>
            <input class="editPaymentType" type="submit" value="Edit" onclick="addEditRowAJAX(this)">
        </fieldset>
    </form>
</div>
</div>
<div id="add-product-type-modal" class="modal">
<div class="modal-content form-container">
    <span class="modal-close">&times;</span>
    <h2>Add Product Type</h2>
    <p>Add a new product type.</p>
    <form>
        <fieldset>
            <legend>*Starred* Fields are Required</legend>
            <label for="addProductTypeCode" class="hidden key">Product Type Code</label>
            <input class="user-input hidden key" type="hidden" id="addProductTypeCode" name="product_type_code">
            <label for="addProductTypeDescription">*Product Type Description</label>
            <input class="user-input" type="text" id="addProductTypeDescription" name="product_type_description" required>
            <label for="addProductTypeParentType">Parent Product Type Description</label>
            <select class="user-input description" id="addProductTypeParentType" name="parent_product_type_code">
                <option value=""></option>
                {{#each productTypes}}
                <option value={{this.product_type_code}}>{{this.product_type_description}}</option>
                {{/each}}
            </select>
            <input class="addProductType" type="submit" value="Add" onclick="addEditRowAJAX(this)">
        </fieldset>
    </form>
</div>
</div>
<div id="edit-product-type-modal" class="modal">
<div class="modal-content form-container">
    <span class="modal-close">&times;</span>
    <h2>Edit Product Type</h2>
    <p>Edit an existing product type.</p>
    <form>
        <fieldset>
            <legend>*Starred* Fields are Required</legend>
            <label for="editProductTypeCode" class="hidden key">Product Type Code</label>
            <input class="user-input hidden key" type="hidden" id="editProductTypeCode" name="product_type_code">
            <label for="editProductTypeDescription">*Product Type Description</label>
            <input class="user-input" type="text" id="editProductTypeDescription" name="product_type_description">
            <label for="editProductTypeParentType">Parent Product Type Description</label>
            <select class="user-input description" id="editProductTypeParentType" name="parent_product_type_code">
                <option value=""></option>
                {{#each productTypes}}
                <option value={{this.product_type_code}}>{{this.product_type_description}}</option>
                {{/each}}
            </select>
            <input class="editProductType" type="submit" value="Edit" onclick="addEditRowAJAX(this)">
        </fieldset>
    </form>
</div>
</div>